* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
}

/*
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif;
*/

header {
    text-align: center;
    margin: 30px 0;
    font-size:0.875em ;
    color: #fff;
    font-family: 'Young Serif', serif;

}

nav {
    text-align: center;

}
nav i {
    margin: 30px 20px;
    color: #fcfcfc;
}

h1 {
    text-align: center;
}

.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
}

.section-about .section-one{
    flex: 1;
}

.section-about h2 {
    font-size: 0.875em;
    margin: 0 0 20px;  
    
}

.section-about p{
    font-size: 0.675em;
    text-align: justify;
    margin-bottom: 20px;
}

.section-about h2 span, .Linguagens-box h2 span, .projects h2 span {
    border-bottom: 3px solid #5fdde5;
    
}

.contact-cta {
    color:#fcfcfc;
    font-weight: 600;
    text-decoration: none;
    margin: 20px 0;
    border-bottom:3px solid #5fdde5;
    padding: 15px 0;
}

.section-about img {
    margin-top: 20px;
    align-items: center;
    
}

hr {
    margin: 50px 20px;
}

.Linguagens-box{
    color: #fcfcfc;
    margin: 20px 0px 0px 20px;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    
}

.Linguagens-box h2, .projects h2 {
    font-size: 28px;
    text-transform: Uppercase;
    margin-bottom: 20px;
}


.box-text{
    text-align: left;
}

.box i{
    margin: 14px 10px;
    text-align: left;
}

.box-text h3{
    font-size: 28px;
}

.box-text p{
    font-size: 20px;
    margin: 8px 0;
    color: #b2b2b2;
}

.projects, .box-projects-links {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 35px;
}

.projects h2 {
    color: #fff;
}

.box-projects img {
    width: 90%;
    height: auto;
    margin: 0 20px 0;
    order: 1;

}

.box-projects-text {
    text-align: left;
    margin: 20px 20px 40px;
}

.box-projects-text h4 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}

.box-projects-text span {
    color: #c5c5c5;
    font-size: 20px;
    margin-right: 20px;
}


@media screen and (max-width: 768px){
    img {
        margin-bottom: 20px;
        width: 70%;
        height: auto;
        order: -1;
    }
}